.header {
  display: block;
}

.header__banner {
  background: url(../assets/first-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
}

.header__menu-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon {
  margin-top: 45px;
}

.header__menu {
  margin-top: 53px;
  color: white;
  display: block;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 180px;
}

.header__content_subtitle {
  font-size: 40px;
  color: white;
  text-transform: none;
}

.header__content_title {
  font-size: 75px;
  margin: 15px;
  color: white;
}

.header__content_button {
  background: #fed136;
  color: #877440;
  border-radius: 3px;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 50px;
}

.main__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 115px;
}

.main__titles_theme {
  font-size: 40px;
}

.main__titles_par {
  color: #777777;
  font-size: 16px;
  margin-top: 5px;
  padding-top: 18px;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.main__item_container-titles {
  width: 270px;
  text-align: center;
  line-height: 1.55em;
}

.main__item_name {
  font-size: 18px;
  margin-top: 18px;
}

.main__item_text {
  font-size: 14px;
  color: #777777;
}

.main__conteiner-bottom {
  padding-bottom: 120px;
}

.main__imeges-about {
  padding-left: 24px;
}

.backgraund-conteiner {
  background: #f7f7f7;
}

.transform {
  text-transform: none;
}

.page-wrapper {
  width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.conteiner-abaut {
  /* display: flex;
  justify-content: flex-start;*/
  margin-top: 70px;
  width: 560px;
  text-align: right;
  line-height: 1.55em;
}

.conteiner-abaut__text-float {
  width: 270px;
  float: left;
  margin: 0 18px;
}

.conteiner-abaut__img-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=layout.css.map */