.header {
  display: block;
  &__banner {
    background: url(../assets/first-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
  }
  &__menu-position {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    margin-top: 45px;
  }
  &__menu {
    margin-top: 53px;
    color: rgb(255, 255, 255);
    display: block;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;

    &_subtitle {
      font-size: 40px;
      color: rgb(255, 255, 255);
      text-transform: none;
    }

    &_title {
      font-size: 75px;
      margin: 15px;
      color: rgb(255, 255, 255);
    }
    &_button {
      background: rgb(254, 209, 54);
      color: rgb(135, 116, 64);
      border-radius: 3px;
      width: 240px;
      padding: 20px 0;
      margin: 0 auto;
      font-weight: bold;
      margin-top: 50px;
    }
  }
}

.main {
  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
    &_theme {
      font-size: 40px;
    }
    &_par {
      color: rgb(119, 119, 119);
      font-size: 16px;
      margin-top: 5px;
      padding-top: 18px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    &_container-titles {
      width: 270px;
      text-align: center;
      line-height: 1.55em;
    }
    &_name {
      font-size: 18px;
      margin-top: 18px;
    }
    &_text {
      font-size: 14px;
      color: rgb(119, 119, 119);
    }
  }
  &__conteiner-bottom {
    padding-bottom: 120px;
  }
  &__imeges-about {
    padding-left: 24px;
  }
}

.backgraund-conteiner {
  background: rgb(247, 247, 247);
}

.transform {
  text-transform: none;
}
.page-wrapper {
  width: 930px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.conteiner-abaut {
  /* display: flex;
  justify-content: flex-start;*/
  margin-top: 70px;
  width: 560px;
  text-align: right;
  line-height: 1.55em;
  &__text-float {
    width: 270px;
    float: left;
    margin: 0 18px;
  }
  &__img-centr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
